@charset "UTF-8";

@font-face {font-family: 'HelveticaNeueLTStd-Bd';src: url('../fonts/2794C7_0_0.eot');src: url('../fonts/2794C7_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_0_0.woff') format('woff'),url('../fonts/2794C7_0_0.ttf') format('truetype');}  
@font-face {font-family: 'HelveticaNeueLTStd-BdIt';src: url('../fonts/2794C7_1_0.eot');src: url('../fonts/2794C7_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_1_0.woff') format('woff'),url('../fonts/2794C7_1_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTStd-Roman';src: url('../fonts/2794C7_2_0.eot');src: url('../fonts/2794C7_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_2_0.woff') format('woff'),url('../fonts/2794C7_2_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTStd-Th';src: url('../fonts/2794C7_3_0.eot');src: url('../fonts/2794C7_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_3_0.woff') format('woff'),url('../fonts/2794C7_3_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTStd-It';src: url('../fonts/2794C7_4_0.eot');src: url('../fonts/2794C7_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_4_0.woff') format('woff'),url('../fonts/2794C7_4_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTStd-ThIt';src: url('../fonts/2794C7_5_0.eot');src: url('../fonts/2794C7_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_5_0.woff') format('woff'),url('../fonts/2794C7_5_0.ttf') format('truetype');}

.red-text{color:#B70000 !important;}
.red-text div{color:#B70000 !important;}

.navbar{margin:0 15px 0 15px;}
.navbar-header{border-bottom:1px solid #ccc; margin-left:-5px;}
.navbar-brand{width:100px; margin:20px 0 15px 0; padding:0; height:auto;}
.navbar-brand img{width:100%;}

.content{margin-bottom:20px;}
.content h1{color:#B70000; font-family: 'HelveticaNeueLTStd-Th';}
.content p{font-family: 'HelveticaNeueLTStd-Roman';}

.tabs .c-tab{padding:5px 5px 5px 10px; font-weight:200; font-family: 'HelveticaNeueLTStd-Th';}

.tabs .nav-tabs>li>a{border-radius:0; text-transform: uppercase; color:#fff; background:#525252; margin:0; width:100%; border:0;}
.tabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {background: #B70000; color:#fff; border:0;}
.tabs .nav-tabs{border:0; display:block;}
.tabs .nav-tabs>li{width:100%;}
.tabs .date{margin:0; padding:0; font-family: 'Raleway', sans-serif; cursor: pointer;}
.tabs .date div{background:#ccc; font-size:45px; word-break: break-all; line-height: 40px; padding:25px 0 30px 0; font-weight: 900; text-align: center; color:#525252; margin:0 5px 5px 0;}
.tabs .tab-pane{margin-top:10px;}
.tabs .i-row{border-top:1px solid #B70000; border-bottom:1px solid #B70000; margin-top:-1px; padding:10px 0 10px 0;}

.tabs .i-img{width:20%; display: inline-block;}
.tabs .i-img img{width:100%; vertical-align: top;}
.tabs .i-text{display:inline-block; vertical-align: top; width: 73%; padding-left:10px;}
.tabs .i-text .i-tag{display:inline-block; background:#B70000; padding: 7px 8px 4px 8px; color:#fff; font-size:14px; font-family: 'HelveticaNeueLTStd-Bd'; margin-bottom:10px;}
.tabs .i-text .i-desc{color:#B70000;font-size:22px; font-family: 'HelveticaNeueLTStd-Th'; line-height: 22px;}
.tabs .i-date{color:#B70000; font-size:18px; font-weight: 600; line-height: 18px; font-family: 'Raleway', sans-serif;}
.tabs .i-area{color:#B70000; font-size:26px; font-weight: 200; font-family: 'HelveticaNeueLTStd-Th';}

.tabs .l-row{padding:10px 0 10px 0;}
.tabs .l-img{width:20%; display:block; vertical-align: top;}
.tabs .l-img img{width:100%;}
.tabs .l-text{display:block; vertical-align:bottom; margin-top:20px;}
.tabs .l-tag{color:#B70000; font-size:15px; font-weight:900; line-height: 15px; font-family: 'Raleway', sans-serif;}
.tabs .l-desc{color:#B70000; font-size:22px; font-weight:200; letter-spacing: -0.1px; word-spacing: -0.1px; font-family: 'HelveticaNeueLTStd-Th';}

/*.legislation{min-height: 60vh;}*/
.incident{min-height: 60vh;}

footer{font-family: 'HelveticaNeueLTStd-Th';background:#424242; margin-top:30px;width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;}
footer p{font-size:16px; color:#ccc; padding:30px 0 20px 0; margin:0}

.social--iframe {height: auto;min-width: initial;background: initial;}
.social{display:inline-block;}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.wrapper {
	min-height:100%;
	position:relative;
}
.swrap {
	padding-bottom:80px; /* Height of the footer element */
}

/* timeline specific */
.tl-headline-date{display:none;}
.tl-headline{display:none;}
.tl-slide-scrollable-container{margin:0 auto;}
.tl-attribution{display:none;}
.tl-slide-content{padding-left:10px !important; padding-right:10px !important;}
.tl-slide-text-only .tl-slide-content-container .tl-slide-content .tl-text{width:95% !important; max-width:95% !important;}
#timeline-embed{margin-bottom: 50px;width: 100%; height: 600px}
.tl-slide .tl-slide-content-container{vertical-align: top !important;}



/* media queries */
@media screen and (min-width:768px) {
	.content h1{margin-top:30px;}
	.content p{font-size:18px;}
	.c-tab{font-size:18px;padding:10px 10px 7px 15px;}
	
	.tabs .i-img{width:10%;}
	.tabs .l-img{width:10%;}
	.navbar-header{border-bottom:0}
	.navbar{border-bottom:1px solid #ccc;}

	.tabs .i-date{font-size:20px;}
	.tabs .i-area{font-size:28px;}
	.tabs .i-text .i-tag{font-size:16px;}
	.tabs .i-text .i-desc{font-size:24px;}
	.tabs .l-tag{font-size:16px;}
	.tabs .l-desc{font-size:24px;}

}

@media screen and (max-width: 767px){
	.navbar-right{text-align: center;}
	.c-tab{font-size:16px;}
}

@media screen and (max-width:500px){
	footer{height: 100px;}
	.swrap {padding-bottom:100px;}
	.tabs .date div {font-size:35px;}
	.tabs .l-desc{font-size:20px;}
	.tl-slide-content {padding-left: 0px !important;padding-right: 0px !important;}
}

@media screen and (max-width:400px){
	.tabs .date div {font-size:2.75rem;}
}